@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0b0f15;
  color: #5e0a0a;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slide 0.2s ease-in-out;
}
